@charset "UTF-8";
@import "../css/bootstrap.min.css";
@import "../css/bootstrap-theme.min.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
  transition: 0.3s;
}

.navbar-default {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border: none;
}

.navbar-brand {
  height: unset;
  padding: 0 0 0 15px;
  margin-top: 31px;
}

.navbar {
  margin-bottom: 3px;
}

.navbar-default .navbar-nav > li > a {
  font-size: 15px;
  line-height: 15px;
  color: #484c55;
  padding: 42px 24px;
  transition: 0.3s;
}

.navbar-default .navbar-nav > li {
  transition: 0.3s;
  position: relative;
}
.navbar-default .navbar-nav > li:after {
  display: block;
  content: "";
  height: 3px;
  width: 0;
  background-color: transparent;
  transition: 0.3s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.navbar-default .navbar-nav > li:hover {
  background-color: #f8f9fb;
}
.navbar-default .navbar-nav > li:hover:after {
  width: 100%;
  background-color: #49cbcd;
}
.navbar-default .navbar-nav > li:hover > a {
  color: #49cbcd;
}

.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
  text-shadow: none;
}
.carousel-caption h1, .carousel-caption h2 {
  font-size: 53px;
  line-height: 53px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 46px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.carousel-caption p {
  font-size: 23px;
  line-height: 36px;
  max-width: 400px;
  margin: 0 auto 57px;
}
.carousel-caption > a {
  position: relative;
  display: inline-block;
  line-height: 63px;
  font-size: 26px;
  color: white;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 5px;
  min-width: 225px;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s;
}
.carousel-caption > a:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #49cbcd;
  transition: 0.3s;
}
.carousel-caption > a:hover {
  border: 3px solid #49cbcd;
  border-radius: 0;
  letter-spacing: 2px;
}
.carousel-caption > a:hover:after {
  top: auto;
  height: 100%;
  bottom: 0;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel-control {
  text-shadow: none;
  opacity: 1;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
  width: 51px;
  height: 51px;
  background-color: white;
  border-radius: 50%;
}

.glyphicon-chevron-left:before, .glyphicon-chevron-right:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: #49cbcd;
}

.glyphicon-chevron-right:before {
  content: "";
}

.team {
  padding: 107px 0;
}

.title {
  font-size: 42px;
  color: #4e525d;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 140px;
  text-align: center;
}

.by_team {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #eeeef0;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 71px;
  transition: 0.3s;
  z-index: 1;
}
.by_team img {
  transform: scale(1.1);
}
.by_team:hover {
  background-color: black;
}
.by_team:hover img {
  transition: 0.4s;
  opacity: 0.6;
  transform: scale(1);
}
.by_team:hover:before {
  top: 50%;
  transform: translate(-50%, -50%) rotate(360deg);
  opacity: 1;
}
.by_team:before {
  content: "+";
  position: absolute;
  display: block;
  color: #f46d6d;
  font-size: 75px;
  line-height: 40px;
  font-weight: 600;
  z-index: 2;
  top: -40px;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}

.team-descr_title {
  font-size: 22px;
  line-height: 22px;
  color: #4e525d;
  margin-bottom: 14px;
  margin-top: 0;
}

.team-descr_subtitle, .team-descr_text {
  font-size: 14px;
  line-height: 14px;
  color: #4e525d;
  margin-bottom: 35px;
  margin-top: 0;
}

.team-descr_text {
  line-height: 25px;
  margin-bottom: 0;
}

.subscription {
  background-color: #f1f1f1;
  padding: 120px 0 100px;
}
.subscription ul {
  list-style: none;
  padding: 0;
  transition: 0.3s;
}
.subscription ul:hover {
  box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.1);
  transform: translateY(-0.25em);
}
.subscription ul:hover li:first-of-type {
  background-color: #49cbcd;
}
.subscription ul:hover li:last-of-type a {
  background-color: #49cbcd;
}
.subscription ul li {
  font-size: 14px;
  color: #8c9299;
  line-height: 45px;
  margin: 1px 0;
  background-color: white;
  transition: 0.3s;
}
.subscription ul li:first-of-type {
  background-color: #485460;
  line-height: 75px;
  font-size: 26px;
  color: white;
  margin: 0;
}
.subscription ul li:nth-child(2), .subscription ul li:last-of-type {
  background-color: #f8f9fb;
  line-height: 75px;
  font-size: 26px;
  color: #485460;
  margin: 0 0 1px 0;
}
.subscription ul li:last-of-type {
  line-height: 98px;
  margin: 1px 0 0 0;
}

.subscription-btn, footer .btn-default {
  display: inline-block;
  color: white;
  font-size: 17px;
  line-height: 40px;
  text-decoration: none;
  background-color: #788492;
  min-width: 170px;
  border-radius: 5px;
  transition: 0.3s;
}
.subscription-btn:hover, footer .btn-default:hover {
  color: white;
  text-decoration: none;
}

footer {
  background: url("../img/footer-bg.jpg") center center/cover no-repeat;
  padding: 105px 0 100px;
}
footer .title {
  color: white;
  margin-bottom: 118px;
}
footer .footer_subtitle {
  font-size: 24px;
  line-height: 24px;
  color: white;
  margin-bottom: 19px;
  margin-top: 0;
}
footer .footer_descr {
  font-size: 14px;
  color: #999999;
  line-height: 20px;
  max-width: 80%;
  margin-bottom: 40px;
}
footer .socials {
  margin-bottom: 22px;
}
footer .socials a {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 44px;
  transition: 0.25s;
  margin: 0 7.5px;
}
footer .socials a:first-of-type {
  margin: 0 7.5px 0 0;
}
footer .socials a:hover {
  transform: translateY(-15%);
}
footer .socials a:hover:first-of-type {
  border: 1px solid transparent;
  background-color: #3b5997;
}
footer .socials a:hover:nth-child(2) {
  border: 1px solid transparent;
  background-color: #3ec2f3;
}
footer .socials a:hover:last-of-type {
  border: 1px solid transparent;
  background-color: #e44c41;
}
footer .socials a i {
  font-size: 22px;
}
footer span {
  display: block;
  color: #bface2;
  line-height: 14px;
  margin-bottom: 14px;
}
footer span a {
  color: #bface2;
  text-decoration: none;
}
footer .form-control {
  height: 44px;
  color: #c1c1c1;
  border: none;
  box-shadow: none;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
  padding: 6px 12px;
  outline: none;
}
footer .form-control::placeholder {
  color: #c1c1c1;
  font-family: "Open Sans", sans-serif;
}
footer textarea.form-control {
  height: 179px;
  resize: none;
}
footer .form-group {
  margin-bottom: 31px;
}
footer .btn-default {
  position: relative;
  background-image: none;
  text-shadow: none;
  background-color: #49cbcd;
  padding: 0;
  border: none;
  line-height: 50px;
  min-width: unset;
  width: 100%;
}
footer .btn-default:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: white;
  border-bottom-color: white;
  transform: scale(0.1, 1);
}
footer .btn-default:hover {
  letter-spacing: 2px;
  background-color: transparent;
  border-radius: 0;
}
footer .btn-default:hover:before {
  opacity: 1;
  transform: scale(1, 1);
}
footer .btn-default:hover:after {
  opacity: 0;
  transform: scale(0.1, 1);
}
footer .btn-default:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}

/*# sourceMappingURL=style.css.map */
