@import "../sass/libs";
@import "../sass/fonts";
@import "../sass/variables";
@import "../sass/animation";



* {
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
}

.navbar-default {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border: none;
}

.navbar-brand {
  height: unset;
  padding:0 0 0 15px;
  margin-top: 31px;
}

.navbar {
  margin-bottom: 3px;
}

.navbar-default .navbar-nav>li>a {
    font-size: 15px;
    line-height: 15px;
    color: #484c55;
    padding: 42px 24px;
    transition: .3s;
}

.navbar-default .navbar-nav>li {
  //padding: 42px 20px 0;
  transition: .3s;
  position: relative;
  &:after {
    display: block;
    content: "";
    height: 3px;
    width: 0;
    background-color: transparent;
    transition: .3s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &:hover {
    background-color: #f8f9fb;
    &:after {
      width: 100%;
      background-color: $main_color;
    }
    >a {
      color: $main_color ;
    }
  }
}

.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
  text-shadow: none;
  h1, h2 {
    font-size: 53px;
    line-height: 53px;
    font-weight: $font-bold;
    margin-top: 0;
    margin-bottom: 46px;
    text-shadow: 0 1px 1px rgb(0 0 0 / 40%);
  }
  p {
    font-size: 23px;
    line-height: 36px;
    max-width: 400px;
    margin: 0 auto 57px;

  }
  >a {
    position: relative;
    display: inline-block;
    line-height: 63px;
    font-size: 26px;
    color: $white_color;
    text-decoration: none;
    border: 3px solid $white_color;
    border-radius: 5px;
    min-width: 225px;
    overflow: hidden;
    z-index: 1;
    transition: .3s;
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: $main_color;
      transition: .3s;
    }
    &:hover {
      border: 3px solid $main_color;
      border-radius: 0;
      letter-spacing: 1.5px;
      &:after {
        top: auto;
        height: 100%;
        bottom: 0;
      }
    }
  }
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel-control {
  text-shadow: none;
  opacity: 1;
}



.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
  width: 51px;
  height: 51px;
  background-color: $white_color;
  border-radius: 50%;
}

.glyphicon-chevron-left:before, .glyphicon-chevron-right:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "\f053";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: $main_color;
}

.glyphicon-chevron-right:before {
  content: "\f054";
}


.team {
  padding: 107px 0;
}

.team_title {
  font-size: 42px;
  color: #4e525d;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 140px;
}

.by_team {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: $grey_color;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 71px;
}

.team-descr_title {
  font-size: 22px;
  line-height: 22px;
  color: #4e525d;
  margin-bottom: 14px;
  margin-top: 0;
}


.team-descr_subtitle, .team-descr_text {
  font-size: 14px;
  line-height: 14px;
  color: #4e525d;
  margin-bottom: 35px;
  margin-top: 0;
}

.team-descr_text {
  line-height: 25px;
  margin-bottom: 0;
}

.subscription {
  background-color: #f1f1f1;
  padding: 120px 0 100px;
  ul {
    list-style: none;
    padding: 0;
    transition: .3s;
    &:hover {
      box-shadow: 0 0.5em 0.5em rgba(0,0,0,10%) ;
      transform: translateY(-0.25em);
      li:first-of-type {
        background-color: $main_color;
      }
      li:last-of-type {
        a {
          background-color: $main_color;
        }
      }
    }
    li {
      font-size: 14px;
      color: #8c9299;
      line-height: 45px;
      margin: 1px 0;
      background-color: $white_color;
      transition: .3s;
    }
    li:first-of-type {
      background-color: #485460;
      line-height: 75px;
      font-size: 26px;
      color: $white_color;
      margin: 0;
    }
    li:nth-child(2), li:last-of-type {
      background-color: #f8f9fb;
      line-height: 75px;
      font-size: 26px;
      color: #485460;
      margin: 0 0 1px 0;
    }
    li:last-of-type {
      line-height: 98px;
      margin: 1px 0 0 0;
      a {
        display: inline-block;
        color: $white_color;
        font-size: 17px;
        line-height: 40px;
        text-decoration: none;
        background-color: #788492;
        min-width: 170px;
        border-radius: 5px;
        transition: .3s;
      }
    }
  }
}